/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }
.fa-yellow { color : #ffff00; }

span.fa-pyline { color : gray; }
span.fa-purple { color : purple; }
span.fa-title { color : red; }

span.header {
    font-family: "Verdana";
}


span.name {
	font-size: 0.7em;
}