/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }

span.fa-byline { color : gray; }


span.header {
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}

span.name {
	font-size: 20px;
}