/* Custom Icons Colors */
.fa-pink { color : #eba3ff; }
.fa-peach { color : #ffa6b9; }
.fa-lime { color : #b9ff66; }
.fa-yellow { color : #ffff00; }

span.fa-gray { color : gray; }
span.fa-purple { color : purple; }


span.header {
    font-family: "Myriad";
}

span.name {
	font-size: 0.7em;
}