<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlanetAnimal - Countries</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="new-index">PlanetAnimal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="animals">Animals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="countries">Countries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="habitats">Habitats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="threats">Threats</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Countries
      </h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Angola</h4>
            <div class="card-body">
              <p class="card-text">
                <p style="text-align: center;">
                  <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9d/Flag_of_Angola.svg/1200px-Flag_of_Angola.svg.png" />
                </p>

                <br><br>

                <a href="animals">Animals:</a> 2
                <ul>
                  <li>African Elephant</li>
                  <li>African Manatee</li>
                </ul>

                <br>

                <a href="habitats">Habitats:</a> 3
                <ul>
                  <li>Estuary</li>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>

                <b>Interactive map:</b> <br>
                <a target="_blank" href="https://www.google.com/maps/place/Angola/@-11.05557,8.7242941,5z/data=!4m5!3m4!1s0x1a51f24ecaad8b27:0x590a289d0d4a4e3d!8m2!3d-11.202692!4d17.873887">
                  <img width="150" src="http://d2z7bzwflv7old.cloudfront.net/cdn_image/exW_1200/images/maps/en/ao/ao-area.gif"/>
                </a>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Tanzania, United Republic of</h4>
            <div class="card-body">
              <p class="card-text">
                <p style="text-align: center;">
                  <img width="150" src="https://www.cia.gov/library/publications/the-world-factbook/graphics/flags/large/tz-lgflag.gif" />
                </p>

                <br><br>

                <a href="animals">Animals:</a> 2
                <ul>
                  <li>African Elephant</li>
                  <li>Red Colobus</li>
                </ul>

                <br>

                <a href="habitats">Habitats:</a> 2
                <ul>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>

                <b>Interactive map:</b> <br>
                <a target="_blank" href="https://www.google.com/maps/place/Tanzania/@-6.3423784,30.4888567,6z/data=!3m1!4b1!4m5!3m4!1s0x184b51314869a111:0x885a17314bc1c430!8m2!3d-6.369028!4d34.888822">
                  <img width="150" src="https://static1.squarespace.com/static/56b521f4f699bb15649ef804/t/58b4c8824402439d62459a15/1488242933588/Tanzania.jpg"/>
                </a>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Uganda</h4>
            <div class="card-body">
              <p class="card-text">
                <p style="text-align: center;">
                  <img width="150" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4e/Flag_of_Uganda.svg/1200px-Flag_of_Uganda.svg.png" />
                </p>

                <br><br>

                <a href="animals">Animals:</a> 2
                <ul>
                  <li>African Elephant</li>
                  <li>Red Colobus</li>
                </ul>

                <br>

                <a href="habitats">Habitats:</a> 2
                <ul>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>

                <b>Interactive map:</b> <br>
                <a target="_blank" href="https://www.google.com/maps/place/Uganda/@1.3726052,30.0578806,7z/data=!3m1!4b1!4m5!3m4!1s0x1771a69f6499f945:0x874155ce43014549!8m2!3d1.373333!4d32.290275">
                  <img width="150" src="https://alainainuganda.files.wordpress.com/2011/06/africa.jpg"/>
                </a>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PlanetAnimal 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
