<!DOCTYPE html>
  <head>

  </head>

  <body>
    <div id="app"></div>
    <ons-splitter>
        <ons-splitter-side id="menu" side="left" width="220px" collapse>
            <ons-page>
                <ons-list>

                    <!-- Title -->
                    <ons-list-item>
                        <i>Kitchen Masters</i>
                    </ons-list-item>

                    <!-- Spacer -->
                    <ons-list-item></ons-list-item>

                    <ons-list-item onclick="load('static/html/home.html')">
                        <div class="center">
                            Home
                        </div>
                    </ons-list-item>

                    <ons-list-item onclick="load('static/html/animals.html')">
                        <div class="center">
                            Animals
                        </div>
                    </ons-list-item>

                    <ons-list-item onclick="load('static/html/countries.html')">
                        <div class="center">
                            Countries
                        </div>
                    </ons-list-item>
                </ons-list> 
            </ons-page>
        </ons-splitter-side>
        
        <ons-splitter-content>
            <ons-navigator id="nav" page="static/html/home.html">
            </ons-navigator>
        </ons-splitter-content>
    </ons-splitter>
  </body>
</html>

{% block scripts %}
{{ super() }}
{% endblock %}