<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PlanetAnimal - Habitats</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/modern-business.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="new-index">PlanetAnimal</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="animals">Animals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="countries">Countries</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="habitats">Habitats</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="threats">Threats</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading/Breadcrumbs -->
      <h1 class="mt-4 mb-3">
        Threats
      </h1>

      <!-- Marketing Icons Section -->
      <div class="row">
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Habitat Loss</h4>
            <div class="card-body">
              <p class="card-text">
                Severity: Medium

                <br><br>

                Timing: Ongoing

                <br><br>

                Animals: 3
                <ul>
                  <li>African Elephant</li>
                  <li>African Manatee</li>
                  <li>Red Colobus</li>
                </ul>

                <br>

                Habitats: 3
                <ul>
                  <li>Estuary</li>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Poaching</h4>
            <div class="card-body">
              <p class="card-text">
                Severity: High

                <br><br>

                Timing: Ongoing

                <br><br>

                Animals: 2
                <ul>
                  <li>African Elephant</li>
                  <li>African Manatee</li>
                </ul>

                <br>

                Habitats: 3
                <ul>
                  <li>Estuary</li>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-4">
          <div class="card h-100">
            <h4 class="card-header">Predation</h4>
            <div class="card-body">
              <p class="card-text">
                Severity: High

                <br><br>

                Timing: Ongoing

                <br><br>

                Animals: 1
                <ul>
                  <li>Red Colobus</li>
                </ul>

                <br>

                Habitats: 2
                <ul>
                  <li>Forest</li>
                  <li>Savanna</li>
                </ul>
              </p>
            </div>
            <div class="card-footer">
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; PlanetAnimal 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>
